.App {
	text-align: center;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-GameWrap {
	position: relative;
}

.App-Game {
	position: relative;
	vertical-align: middle;
}

.App-AnswerInput {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	height: 10%;

	box-sizing: border-box;

	text-align: center;
	font-weight: bold;
	font-size: 100%;
}
